* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom, #9198e5, #9198e5);
}

.container {
    padding: 10px;
    margin-top: 200px;
    margin-left: 100px;
    min-width: 100vh;
    /* border: 2px solid red; */
    width: 400px;
    height: auto;
}

.h1_heading{
    font-size: 2rem;
    /* padding-top: 10px; */
}

.first-heading{
    color: #fff;

}

.second-heading{
    color: green;
    white-space: nowrap;
}

.h1_heading hr{
    height: 7px;
    margin-bottom: 30px;
    background-color: green;
    color: green;
    border: 0.1px solid green;
    width: 523px;
    font-size: 1.4rem !important;
    outline: none;

}

input{
    font-size: 2rem;
    width: 570px;
    padding: 0px 0px 11px 10px;
    margin-bottom: 20px;

}

input::placeholder{
    font-size: 1rem;
    padding: 0px auto 2px 10px;
    /* justify-content: center; */
    /* text-align: center; */
}

button {
    height: 50px;
    width: 210px;
    background-color: green;
    color: white;
    text-align: center;
    justify-content: center;
    display: flex; 
    align-items: center; 
    font-size: 2rem;
}

button span {
    font-size: 1rem;
    padding-top: 0px;
    display: inline-block;
    margin-left: 5px; 
}
/* 
button i {
    font-size: 3rem;
} */




